.panel_pantalla{
    -fx-background-color: #09161C;
    -fx-border-color: #99c1f1;
}

.panel_grafica{
    -fx-border-color: #241f31;
    -fx-border-radius: 4;
}

.label_temperatura{
    -fx-border-color: #e01b24;
    -fx-border-radius: 4;
}